h1,
h2,
h3,
p,
small {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

body {
  background-color: #0b0b0b;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  background-color: #262423e6;
  padding: 1rem;
  text-align: center;
  border-bottom: #bbbbbb80 0.4rem solid;
}

main {
  background: #3d3938;
  margin: 0 auto;
  padding: 1rem;
  width: 50rem;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 1rem 0;
}

.hero {
  object-fit: cover;
  height: 60vh;
  width: 100%;
}

.hero,
main > section {
  margin-bottom: 3rem;
}

.align-center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-center-margin {

}